body {
  background-color: black;
  color: #eee;
  font-family: Labrada;
  text-align: center;
  margin: 50px auto;
  padding: 50px;
  max-width: 600px;
}

body.teaser {
  background-color: #1a1a1a;
  display: flex;
  max-width: 600px;
  text-align: left;
  align-items: center;
  border: 2px solid white;
  padding: 20px;
  cursor: pointer;
}

body.teaser:hover {
  transform: scale(1.01);
  background-color: #2a2a2a;
  filter: brightness(0.97);
}

body.teaser img {
  max-width: 40%;
  height: auto;
  margin: 50px;
}

h1 {
  font-weight: bold;
}

img {
  max-width: 600px;
  max-height: 600px;
  width: auto;
  height: auto;
  border: solid #eee;
}
p {
  text-align: justify;
}

a {
  display: block;
  background-color: #444;
  color: #fff;
  border: 2px solid #900;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  margin: 5px;
  text-decoration: none;
}
a:hover {
  background-color: #900;
}

.fin {
  text-align: center;
  font-weight: bold;
}
